  @model List<GeneroModelo>
    <div class="row">
        <div class="col-md-6">
            <h3 style="color: antiquewhite">Listado de Géneros</h3>
        </div>
        <div class="col-md-6">
            <a asp-controller="Generos" asp-action="NuevoGenero" class="btn btn-outline" style="color:aqua" data-toggle="tooltip" data-placement="top" title="Nuevo Género"><i class="bi bi-plus-square" style="color: aqua; font-size: 30px; margin-top: 8px;"></i></a>
        </div>
    </div>
    <hr />
        <div class="card-body-nuevo">
            <table  class="table table-striped" style="width: 75%;">
                <thead>
                    <tr style="color: #e6c655;">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="color:antiquewhite">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nombre</td>
                            <td>
                                <a asp-route-id="@item.Id" asp-controller="Generos" asp-action="EditarGenero" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Editar Género"><i class="bi bi-pen"></i></a>
                                <a asp-route-id="@item.Id" asp-controller="Generos" asp-action="EliminarGenero" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Eliminar Género"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

